{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.title }}</h1>
                <div class="content">
                    {% include_block page.body %}
                </div>
                <a href="{% slugurl 'subscribe' %}" class="btn btn-primary">Subscribe</a>
                <h2>Issues</h2>
                {% for issue in issues %}
                    <div class="issue">
                        <a href="{% pageurl issue %}"><h3 style="display: inline-block">{{ issue.title }}</h3></a>
                        <span class="date text-muted" style="display: inline-block">{{ issue.date }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}